.header-banner {
    height: 700px;
    background-image: url('../../assets/header_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .header-text {

        .text-banner {
            font-family: 'Ephesis';
            font-size: 40px;
        }
    }
}


